#navMobile{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    background: #cb2d3e;
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);
    background: linear-gradient(to right, #ef473a, #cb2d3e); 
}

#navMobileHead{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headWrap{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navMobileHead h1{
    font-size: 1.2rem;
    color: #FAFAFF;
}

#navMobileHead img{
    width: 18px;
    height: 18px;
}

#navMobileBody{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    align-items: flex-start;
}

#navMobileBody li{
    list-style-type: none;
}
#navMobileBody li a{
    font-size: 3rem;
    font-weight: bold;
    color: #FAFAFF;
}

#navMobileBody li a:hover,#navMobileBody li a:hover:focus,#navMobileBody li a:active{
    color: #D34E24;
}

@media(min-width:1024px){
    #navMobile{
        display: none;
    }
}

@media(min-width:640px){

    #navMobileBody li a{
        font-size: 3.5rem;
    }

    #navMobileBody{
        gap:2rem;
        height: 80%;
    }
}