#whyUs{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

#whyUs h1{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

#whyWrap{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.item{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.item h2{
    line-height: 0;
    margin: 0;
    font-size: 1.2rem;
}

.item p{
    font-size: 1.1rem;
    line-height: 25px;
    text-align: center;
    width: 70%;
}

.itemCircle{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCircle img{
    width: 40px;
    height: 40px;
}

@media (max-width:1024px){
    #whyUs{
        height: auto;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    #whyWrap{
        width: 100%;
        height: 90%;
        gap:5px;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 250px) and (max-width: 1024px){
   
    .item{
        width: 90%;
        gap:5px;
        padding: 5px;
    }
    
    .item h2{
        line-height: 0;
        margin: 0;
        font-size: 1.15rem;
        width: 80%;
    }
    
    .item p{
        font-size: 1.1rem;
        line-height: 20px;
        text-align: center;
        width: 80%;
    }
    
    .itemCircle{
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
}

@media (min-width: 1025px) and (max-width: 1120px){
    .item{
        width: 90%;
        gap:20px;
    }
    
    .item h2{
        line-height: 0;
        margin: 0;
        font-size: 1rem;
        width: 80%;
    }
    
    .item p{
        font-size: 0.8rem;
        line-height: 15px;
        text-align: center;
        width: 70%;
    }
}