#portfolio{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    align-items: center;
}

#portfolio h2{
    line-height: 0;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

#gallery{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 1rem;
}

.galleryItem{
    width: 31%;
    height: 450px;
}

.galleryItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (min-width: 250px) and (max-width:640px){
    #gallery{
        width: 100%;
        flex-wrap: nowrap;
        gap:10px;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .galleryItem{
        width: 80%;
        height: 350px;
    }
}

@media (min-width: 250px) and (max-width:640px){
    #portfolio{
        padding-top: 1.5rem;
    }

    #gallery{
        width: 100%;
        flex-wrap: nowrap;
        gap:10px;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .galleryItem{
        width: 80%;
        height: 350px;
    }
}

@media (min-width: 641px) and (max-width:1280px){
    #portfolio{
        padding-top: 2rem;
    }

    #gallery{
        width: 90%;
        gap:20px;
        margin-bottom: 1.1rem;
        align-items: center;
    }
    
    .galleryItem{
        width: 48%;
        height: 450px;
    }
    
}
